<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Usuarios registrados</h2>
            </div>
        </div>

        <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full mt-8">

            <!-- Grids -->
            <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="overflow-x-auto mx-6">
                    <!-- Alert -->
                    <fuse-alert class="mt-8" [appearance]="'soft'" [showIcon]="false"
                        [type]="this.alertService.alert.type" [dismissible]="true" [dismissed]="false"
                        [name]="'alertBox'">
                        {{this.alertService.alert.message}}
                    </fuse-alert>
                    <table class="w-full bg-transparent" mat-table matSort [dataSource]="recentTransactionsDataSource"
                        [trackBy]="trackByFn" #recentTransactionsTable>

                        <ng-container matColumnDef="avatar">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Imagen
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <img class="w-full h-full rounded-full" *ngIf="company.avatar" [src]="company.avatar"
                                    alt="User avatar" style="max-width: 100px; max-height: 100px;">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="username">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Nombre
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{company.username}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Email
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{company.email}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="updatedAt">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Fecha
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{company.updatedAt | date}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="roles">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Roles
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{ getRoleName(company) }}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Acciones
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <div>
                                    <button (click)="editCompany(company)" matTooltip="Editar registro" mat
                                        mat-icon-button color="primary"
                                        aria-label="Example icon button with a vertical three dot icon">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button (click)="deleteCompany(company)" type="submit"
                                        matTooltip="Eliminar registro" mat-icon-button color="warn"
                                        aria-label="Example icon button with a vertical three dot icon">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="recentOrdersTableFooter">
                            <td class="py-6 px-0 border-0" mat-footer-cell *matFooterCellDef colspan="6">

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="recentTransactionsTableColumns"></tr>
                        <tr class="order-row h-16" mat-row
                            *matRowDef="let row; columns: recentTransactionsTableColumns;">
                        </tr>
                        <tr class="h-16 border-0" mat-footer-row *matFooterRowDef="['recentOrdersTableFooter']"></tr>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>