<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Empresas registradas</h2>
            </div>
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full mt-8">
            <!-- Formulario -->
            <div class="flex items-center">
                <form class="flex flex-col flex-auto p-6 bg-card rounded-2xl shadow overflow-hidden"
                    [formGroup]="registerCompanyForm" #registerCompanyNgForm="ngForm">
                    <p class="text-lg font-medium">Nueva Empresa</p>
                    <!-- Alert -->
                    <fuse-alert class="mt-8" *ngIf="this.alertService.showAlert" [appearance]="'outline'"
                        [showIcon]="false" [type]="this.alertService.alert.type"
                        [@shake]="this.alertService.alert.type === 'error'">
                        {{this.alertService.alert.message}}
                    </fuse-alert>
                    <mat-divider class="mt-6 mb-10"></mat-divider>
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <input matInput [placeholder]="'Nombre'" [formControlName]="'name'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <input matInput [placeholder]="'Nombre Comercial'" [formControlName]="'commercialName'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:office-building'">
                            </mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pl-3">
                            <input matInput [placeholder]="'Ruc'" [formControlName]="'document'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:identification'">
                            </mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pl-3">
                            <input matInput [placeholder]="'Telefono'" [formControlName]="'phone'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:phone'">
                            </mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pl-3">
                            <input matInput [placeholder]="'Celular'" [formControlName]="'mobile'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:device-mobile'">
                            </mat-icon>
                        </mat-form-field>
                        <!--<mat-form-field class="flex-auto gt-xs:pl-3">
                            <input matInput [placeholder]="'Cuotas de usuario'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'">
                            </mat-icon>
                        </mat-form-field>-->
                    </div>
                    <p class="text-lg font-medium">Representante Legal</p>
                    <mat-divider class="mt-6 mb-10"></mat-divider>
                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pl-3">
                            <input matInput [placeholder]="'Nombre'" [formControlName]="'representativeName'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'">
                            </mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <input matInput [placeholder]="'Apellido'" [formControlName]="'representativeLastname'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'">
                            </mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pl-3">
                            <input matInput [placeholder]="'Documento'" [formControlName]="'representativeDocument'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:identification'">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div
                        class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                        <button (click)="clear()" type="reset" mat-button>
                            Cancelar
                        </button>
                        <button (click)="createCompany()" class="px-6 ml-3" mat-flat-button [color]="'primary'">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>

            <!-- Grids -->
            <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="overflow-x-auto mx-6">
                    <table class="w-full bg-transparent" mat-table matSort [dataSource]="recentTransactionsDataSource"
                        [trackBy]="trackByFn" #recentTransactionsTable>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Nombre
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{company.name}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="commercialName">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Nombre empresa
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{company.commercialName}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="document">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Ruc
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{company.document}}
                                    <!--{{transaction.date | date:'MMM dd, y'}}-->
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="mobile">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Telefono
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{company.mobile}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Estado
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <span
                                    class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                    [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': company.status === 'REG',
                                                'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': company.status === 'INA'}">
                                    <span class="leading-relaxed whitespace-nowrap">{{company.status}}</span>
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Acciones
                            </th>
                            <td mat-cell *matCellDef="let company">
                                <div>
                                    <button matTooltip="Editar registro" mat mat-icon-button color="primary"
                                        aria-label="Example icon button with a vertical three dot icon">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button matTooltip="Eliminar registro" mat-icon-button color="warn"
                                        aria-label="Example icon button with a vertical three dot icon">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="recentOrdersTableFooter">
                            <td class="py-6 px-0 border-0" mat-footer-cell *matFooterCellDef colspan="6">
                            
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="recentTransactionsTableColumns"></tr>
                        <tr class="order-row h-16" mat-row
                            *matRowDef="let row; columns: recentTransactionsTableColumns;">
                        </tr>
                        <tr class="h-16 border-0" mat-footer-row *matFooterRowDef="['recentOrdersTableFooter']"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>